

<mat-card class=" cards card-perfil">
  <mat-card-header>


        <label mat-card-avatar class="perfil-image"     for="input-file-id">

          <img mat-card-avatar class="perfil-image"  [src]="usuario.avatar"   *ngIf="usuario.avatar!== null">

          <mat-icon mat-card-avatar  class="perfil-icono-peticion" *ngIf="usuario.avatar === null">face</mat-icon>


          <div class="iconoedicion" >Cambia Imagen</div>


        </label>


    <input  id="input-file-id"    type="file" [hidden]="true" accept="image/*" (change)="upload($event)"/>


    <mat-card-title><h3>Mis datos personales

    </h3>  </mat-card-title>




  </mat-card-header>

  <mat-card-content>
    <form class="perfil-form">



      <mat-form-field class="perfil-full-width">
        <input matInput placeholder="Nombre"  [(ngModel)]="usuario.nombre" name="nombre">
      </mat-form-field>

      <mat-form-field class="perfil-full-width">
        <input matInput placeholder="Apellido"   [(ngModel)]="usuario.apellido" name="apellido">
      </mat-form-field>

      <mat-form-field class="perfil-full-width">
        <input matInput placeholder="Correo"   [(ngModel)]="usuario.email" name="email" disabled>
      </mat-form-field>

      <mat-form-field class="perfil-full-width">
        <input matInput placeholder="Nombre de Usuario"  [(ngModel)]="usuario.username" name="username" >
      </mat-form-field>
<!--
<br>
      Datos personales
      <mat-radio-group>
        <mat-radio-button value="1">Privados</mat-radio-button>
        <mat-radio-button value="2">Publicos</mat-radio-button>
      </mat-radio-group>

 -->   </form>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button  (click)="update()" color="primary">Guardar</button>
  </mat-card-actions>
</mat-card>
