.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

}

.login-full-width {
  width: 100%;
}


.login-card {
  top: 150px;
  width: 300px;
  margin:0 auto;
}
.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
