<mat-spinner class="spinnergrilla" *ngIf="spinerOn===true"></mat-spinner>
<div class="contenedorlista contenedorlista_peticiones" *ngIf="spinerOn===false">

  <virtual-scroll [items]="dataSource" (update)="viewPortItems = $event">


      <mat-card *ngFor="let peticion of viewPortItems" class="peticiones-tarjeta " (click)="selecciona(peticion)">
        <!-- (click)="selecciona(peticion)" -->
        <mat-card-header>
          <img mat-card-avatar class="perfil-image-peticion"  [src]="peticion.avatar"  *ngIf="peticion.avatar!== null">
          <mat-icon mat-card-avatar  class="perfil-icono-peticion" *ngIf="peticion.avatar === null">face</mat-icon>

          <mat-card-title>
            <div class="divnombreusuario">
              <h4 mat-line class="nombreusuario">{{peticion.usuario}}</h4>
            </div>
            <div class="divfecha">
              <h6 mat-line> {{peticion.fechacreacion | date: 'dd/MM/yyyy' }} </h6>
            </div>
            <div class="divtitulo">
              <h5 mat-line>{{peticion.titulo}}</h5>

            </div>



          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>


      </mat-card>




  </virtual-scroll>







</div>

