mat-cell {
  font-size: 0.6rem;
}

.spinnergrilla {
  margin: 0 auto;
  position: relative;
  top: 200px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 80px;
  height: auto;
}
.peticiones-tarjeta {
  display: block;
  margin: 5px;
  border: 0;

}
.encabezadopeticion{
  height: 80px !important;
}

mat-card-content.mat-card-content {
  padding-top: 5px;
}

mat-card {
  width: 100%;
}
.perfil-image-peticion {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

button {
  -webkit-border-radius: 10px 10px;  /* Safari  */
  -moz-border-radius: 10px 10px;     /* Firefox */
}
virtual-scroll {
  display: block;
  height: 99%;
  width: 100%;
  padding-bottom: 6px;
}
.mat-card  {
  padding: 10px 5px 10px 5px;
  box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0) !important;
}
.divnombreusuario {
  float: left;

}

.divfecha {
  float: right;
}
.divtitulo {
  clear: left;
}

.nombreusuario {
  color: black;
}
mat-expansion-panel-heade  {
  height: 80px !important;
}
.mat-expansion-panel-spacing {
  margin: 0px 0;
}
