<!--
<mat-sidenav-container class="example-container" >

  <mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <mat-list>
      <h2 mat-subheader>CADENA DE ORACIÓN</h2>
      <p></p>
      <button mat-button color="primary" (click)="setVista('perfil');  sidenav.toggle();">
          <mat-list-item>
            <mat-icon>account_circle</mat-icon>Mi Perfil
          </mat-list-item>
      </button><br>


      <button mat-button color="primary" (click)="setVista('mensajes');  sidenav.toggle();">
        <mat-list-item>
          <mat-icon>email</mat-icon>Mensajería
        </mat-list-item>
      </button>
      <br>

      <button mat-button color="primary" (click)="setVista('formularioPeticion');  sidenav.toggle();">
        <mat-list-item>
          <mat-icon>note_add</mat-icon>Crear Petición
        </mat-list-item>
      </button><br>

      <button mat-button color="primary" (click)="setVista('grilla');  sidenav.toggle();">
        <mat-list-item>
          <mat-icon>list</mat-icon>Lista de Peticiones
        </mat-list-item>
      </button><br>


      <button mat-button color="primary" (click)="setVista('listaPeticiones');  sidenav.toggle();">
        <mat-list-item>
          <mat-icon>list</mat-icon> Mis Peticiones
        </mat-list-item>
      </button><br>



      <button mat-button color="primary" (click)="setVista('listaIntercesiones');  sidenav.toggle();">
        <mat-list-item>
          <mat-icon>list</mat-icon>Mis Intercesiones
        </mat-list-item>
      </button>





      <mat-divider></mat-divider>

      </mat-list>

  </mat-sidenav>

    <mat-sidenav-content>
-->


 <div class="nombrevista">{{nombrevista}} &nbsp;
   <div class="logout">
    <mat-icon class="exit" (click)="logout()">exit_to_app</mat-icon>
   </div>
 </div>

      <table class="encabezadoprincipal opcionesapp" *ngIf="vistaprincipal()">
        <tr>
          <td align="center" class="opcion" (click)="setVista('grilla')">
            <mat-icon>cloud</mat-icon>
          </td>

          <td align="center"   class="opcion" (click)="setVista('mispeticiones')">

            <mat-icon>whatshot</mat-icon>

          </td>

          <td align="center" class="opcion" (click)="setVista('mensajes')">    <mat-icon>chat</mat-icon>  </td>

          <td align="center" class="opcion" (click)="setVista('perfil')">
            <mat-icon>face</mat-icon>
           <!-- <img mat-card-avatar class="perfil-image"  [src]="avatar"  width="30px" >  -->
          </td>

        </tr>

      </table>
      <table class="encabezadoprincipal opcionesapp" width="100%" *ngIf="!vistaprincipal()">
        <tr>
          <td align="left" class="opcionvolver" >
            <button mat-button (click)="volver()">
              <mat-icon class="iconovolver" >keyboard_backspace</mat-icon>

            </button>
          </td>
          <td>

          </td>

          <td class="titulopeticion">
            {{titulo}}
          </td>
        </tr>

      </table>


    <app-grillapeticiones *ngIf="isVisible('grilla')"></app-grillapeticiones>
    <app-perfil *ngIf="isVisible('perfil')" ></app-perfil>
    <app-peticiones *ngIf="isVisible('mispeticiones')"></app-peticiones>
  <!--  <app-formulario-peticion *ngIf="isVisible('formularioPeticion')"></app-formulario-peticion> -->
    <app-leerpeticion *ngIf="isVisible('leerpeticion')"></app-leerpeticion>
    <app-mensajes *ngIf="isVisible('mensajes')"></app-mensajes>
    <app-formulariomensaje *ngIf="isVisible('enviarmensaje')"></app-formulariomensaje>
    <app-lecturamensajes *ngIf="isVisible('leermensaje')"></app-lecturamensajes>
<!--

  </mat-sidenav-content>
</mat-sidenav-container>
-->
