.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.encabezadoprincipal {
  height: 50px;
  width: 100%;
}
.opcionesapp {
  border: 1px solid #2590e4;
  background-color: #259ff8;
  position: relative;
  top: -16px;

}

.opcion {
  transition: 0.5s;
}
.opcion:hover {
  border: 0.2px solid #ffffff;
  color: white;
}
mat-icon.mat-icon.material-icons {
  font-size: 20px;
  margin-top: 10px;
  color: #fff    ;
}
mat-icon.exit {
  color: red !important;
  font-size: 2rem !important;
  top: -5px;
  position: relative;
  right: -10px;
}
.logout {
  float: right;
  top: -10px;
  right: -10px;
  position: relative;
}

.nombrevista {
  font-size: 1rem;
  padding: 10px;
  background: #259ff8;
  color: white;
  font-weight: 900;
  text-align: right;
  padding-right: 33px;
}

.titulopeticion {
  color: white;
  text-align: right;
  padding-right: 35px;
  font-weight: 900;
}
